# Regresion lineal
 

En esta ocasión realizare el analisis de una Base de datos descargada de la pagina: https://www.kaggle.com/nehalbirla/vehicle-dataset-from-cardekho referente a automoviles los cuales nos serviran para determinar el precio de un carro.

Empezamos importando las librerias para leer los datos

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

Leemos la base de datos con la librería pandas

In [2]:
autos = pd.read_csv("carros_de_segunda.csv")

Mostramos el tamaño de la tabla

In [3]:
autos.shape

(8121, 13)

In [6]:
autos.head()

,nombre,year,precio,km_recorrido,combustible,tipo_de_vendedor,transmision,propietatio,kilometraje,engine,max_power,torque,acientos
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

Verificamos si existen datos nulos en las columna a usar

In [4]:
autos.isna().sum()

nombre                0
year                  0
precio                0
km_recorrido          0
combustible           0
tipo_de_vendedor      0
transmision           0
propietatio           0
kilometraje         214
engine              214
max_power           208
torque              215
acientos            214
dtype: int64

Creamos un archivo de copia Reemplazamos valores nulos por la media

In [5]:
df1= autos.copy()

In [6]:
 #Reemplazaremos en la columna acientos
 df1['acientos'] = autos['acientos'].fillna(autos['acientos'].mean())

Verificamos

In [7]:
df1.isna().sum()

nombre                0
year                  0
precio                0
km_recorrido          0
combustible           0
tipo_de_vendedor      0
transmision           0
propietatio           0
kilometraje         214
engine              214
max_power           208
torque              215
acientos              0
dtype: int64

Eliminamos columna que no vamos a usar en este caso las que tienen tipo aobjeto

In [8]:
df1= df1.drop(columns=["combustible","tipo_de_vendedor","transmision","propietatio","kilometraje","engine","max_power","torque","nombre"])

In [27]:
df1.dtypes

year              int64
precio            int64
km_recorrido      int64
acientos        float64
dtype: object

Ahora vamos a Añadir en variables nustros datos historicos para preparar la prediccion

In [9]:
x= df1[["year","km_recorrido","acientos"]]
y= df1[["precio"]]

Realizamos el algoritmo de prediccion

In [10]:
m_prediccion = LinearRegression()
# pasamos las variables de datos historicos y la columna objetivo de prediccion
m_prediccion.fit(x,y)
#Mostramos los coeficientes
print(m_prediccion.coef_)

[[ 7.61416803e+04 -1.13995161e+00  5.32065115e+04]]

In [11]:
a_year = float(input("¿De que año es el auto?"))
a_recorrido = float(input("¿Cuantos Km ha recorrido?"))
a_acientos = float(input("¿Cuantos acientos tiene?"))
precio_prediccion = m_prediccion.predict([[a_year,a_recorrido,a_acientos]])
print("El precio del auto seria: $ "+ str(precio_prediccion[[0]]))

El precio del auto seria: $ [[506030.48949668]]

Este fue un algoritmo predictrivo del cual nos apoyamos de los datos de entrenamiento para poder predecir el precio del automovil